<template name="searchForm">
    <section class="input-box">
        <form name="searchProperties" id="searchProperties" action="/propertiesList">

            <div class="input-group">

                <input type="text" class="text-capitalize" name="destination" value="" placeholder="Where you want to go?      &#xF0ac;">


                <input id="checkIn" name = "checkIn" type="datetime" min="{{todayDate}}" value="{{checkInDate}}" placeholder="Check In Date  &#xF073;">



                <input id="checkOut" name="checkOut" type="datetime" min="{{todayDate}}" value="{{checkOutDate}}" placeholder="Check Out Date  &#xF073;">

                <div class="styled-select">
                    <select name="occupancy">
                        <option value="1">1 guest</option>
                        <option value="2">2 guest</option>
                        <option value="3">3 guest</option>
                        <option value="4">4 guest</option>
                        <option value="5">5 guest</option>
                    </select>
                </div>
                <input type="submit" name="submit" value="Search">
            </div>


        </form>
        </section>
</template>