header{
    background-color:red;
    width: 100%;
}
header .navbar{
    margin-bottom: 0;
}

.header{
    display: inline-block;
    border-bottom: 6px solid red;
}

#first-navbar a{
    color:white;
    background-color: #FF0000;
}

#navigation a:hover{
    color:white;
    background-color: gray;
}