<template name="accountEdit">

    <form class="main form page">
        <div class="form-group">
            <lable class="control-label" for="role">Role</lable>
            <div class="controls">
                <select>
                    <option value="generalUser">General User</option>
                    <option value="propertyOwner">Property Owner</option>
                    <option value="manager">Manager</option>

                </select>
                <input name="role" id="title" type="text" value="{{title}}" placeholder="Property Title" class="form-control"/>
            </div>
        </div>

    </form>

</template>