<template name="headerImage">
<div class="header-img-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://lorempixel.com/1440/490/city" alt="...">
                <div class="carousel-caption">
                    <h1 class="text-center"><span>Welcome Home 1</span></h1>
                    <p class="text-center"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, dicta!</span></p>
                    <a class="text-center" href="#">Read More</a>
                </div>
            </div>
            <div class="item">
                <img src="http://lorempixel.com/1440/490/people" alt="...">
                <div class="carousel-caption">
                    <h1 class="text-center"><span>Welcome Home 2</span></h1>
                    <p class="text-center"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, dicta!</span></p>
                    <a class="text-center" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container second-navbar-container center-block">
        <nav class="navbar" id="second-navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="imgs/logo_sm.png" alt=""></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">About Us</a></li>
                <li><a href="">Whats News</a></li>
                <li><a href="">House</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>
</template>