<template name="services">

<div class="container content-container">
    <h2 class="page-title">Our Service</h2>
    <div class="row">
        <div class="service-block col-md-2 col-md-offset-1 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="service-block col-md-2 col-md-offset-1 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="service-block col-md-2 col-md-offset-1 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="service-block col-md-2 col-md-offset-1 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
        <div class="service-block col-md-2 col-xs-3">
            <img class="img-circle img-responsive" src="http://lorempixel.com/500/500/people"/>
            <div class="description">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <a class="text-center">Read More</a>
            </div>
        </div>
    </div>

</div>
<div class="advertisment container">
    <a href=""><img src="http://lorempixel.com/1440/122/people" alt=""></a>
</div>
</template>